extends ../../layouts/default.pug

block main
  h1(class="mb-4") Chỉnh sửa sản phẩm

  form(
    action=`/admin/products/edit/${product.id}?_method=PATCH`
    id="form-create-product"
    method="POST"
    enctype="multipart/form-data"
  )
    div(class="form-group")
      label(for="title") Tên sản phẩm
      input(
        type="text"
        class="form-control"
        id="name"
        name="name"
        required
        value=product.name
      )
    div(class="form-group")
      label(for="product_category_id") Danh mục
      select(
        name="category"
        id="product_category_id"
        class="form-control"
        value=product.category
      )
        option(value="") -- Chọn danh mục --
        if(categories)
          each category in categories
            option(
              selected=(product.category == category.id ? true : false)
              value=category.id
            ) #{category.name}

    div(class="form-group")
      label(for="desc") Mô tả
      textarea(
        class="form-control textarea-mce"
        id="desc"
        name="description"
        value=product.description
        rows="5"
      ) #{product.description}
    div(class="form-group")
      label(for="price") Giá
      input(
        type="number"
        class="form-control"
        id="price"
        name="price"
        value=product.price
        min="0"
      )
    div(class="form-group")
      label(for="discount") % Giảm giá
      input(
        type="number"
        class="form-control"
        id="discount"
        name="discountPercentage"
        value=product.discountPercentage
        min="0"
      )
    div(class="form-group")
      label(for="stock") Số lượng
      input(
        type="number"
        class="form-control"
        id="stock"
        name="countInStock"
        value=product.countInStock
        min="0"
      )
    div(
      class="form-group"
      upload-image
    )
      label(for="thumbnail") Ảnh
      input(
        type="file"
        class="form-control-file"
        id="thumbnail"
        name="image"
        accept="image/*"
        upload-image-input
      )
      img(
        src=product.image
        upload-image-preview
        class="image-preview"
      )
    div(class="form-group")
      label(for="position") Vị trí
      input(
        type="number"
        class="form-control"
        id="position"
        name="position"
        placeholder="Tự động tăng"
        value = product.position
        min="1"
      )
    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="statusActive"
        name="status"
        value="active"
        checked=(product.status == "active" ? true : false)
      )
      label(for="statusActive" class="form-check-label") Hoạt động
    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="statusInActive"
        name="status"
        value="inactive"
        checked=(product.status == "inactive" ? true : false)
      )
      label(for="statusInActive" class="form-check-label") Dừng hoạt động
    div(class="form-group")
      button(
        type="submit"
        class="btn btn-primary"
      ) Cập nhật

  script(src="/admin/js/product.js")