extends ../../layouts/default.pug
include ../../mixins/pagination.pug
block main
  .d-flex.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
    h1 Danh sách từ khóa
        
  .card.mb-3
    .card-header Danh sách
      .card-body
        .row
          .col-4
            a(
              href=`/admin/searchKeys/create`
              class="btn btn-outline-success"
            ) + Thêm mới

        table(
          class="table table-hover table-sm"
          checkbox-multi
        )
          thead
            tr
              th STT
              th Tên
              th Hành động

          tbody
            each item, index in categories
              tr 

                td #{pagination.limitItems*(pagination.currentPage - 1) + (index+1)}
                td #{item.name}
                td
                  button(
                    class="btn btn-danger btn-sm ml-1"
                    button-delete
                    data-id=item.id
                  ) Xóa


  +pagination(pagination)


  form(
    action=""
    method="POST"
    id="form-delete-item"
    data-path=`/admin/searchKeys/delete`
  )

  script(src = "/admin/js/product.js")